.container{
    background-color: #f5fcb8;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.perfil{
    display: flex;
    width: 150px;
    height: 150px;
    
}

.texto-perfil{ 
    display: flex;
    text-align: center;
   
}